.env/
.streamlit/secrets.toml
Rag/database/files/drug_text_files/
Rag/database/files/drug_json_files/
Rag/database/files/documents_injected/
Rag/database/Vectordb/
__pycache__/
.deepeval/
*.py[cod]
*.sqlite3
*.db